<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contato</title>
</head>
<body>
    <h1>Contato</h1>
    <p>meu contato de telefone é <strong><%=telefone%>!</strong> e o meu email é <strong><%=email%>!</strong>.</p>
    <a href="/">home</a>
    <a href="/sobre">sobre</a>
    <a href="/contato">contato</a>
</body>
</html>