<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
</head>
<body>
    <h1>Sistema <strong>Crud</strong> com duas tabelas</h1>
    <hr>
    <h2>Usuários</h2>
    <h2>Produtos</h2>
    <h2>Pedidos</h2>
</body>
</html>